{{#power-select options=languages selected=language onchange=(action "changeLanguage") as |language|}}
      <img src="{{language.flagUrl}}" class="icon-flag"> <strong>{{language.name}}</strong>
{{/power-select}}


<h1>{{t "ember.upwork.title"}}</h1>

<div class="emailForm">
	<fieldset>
		<label for="">To:</label>
		{{input value=emailTo}}
		<label for="">Subject:</label>
		{{input value=subject}}
		

		<label for="">Email Text:</label>
		{{textarea value=emailBody cols="80" rows="6"}}
		<button {{action "sendEmail"}}>Send Email</button>
	</fieldset>
</div>ø